:root{
    --perspect:300px;
    --origin:650px;
    --positionX:0px;
    --positionZ:0px;
    --cpositionX:650px;
    --cpositionZ:0px;
}
body{
  margin:0;
  overflow:hidden;
}
.button{
  position: absolute;
  z-index:100;
  margin: 20px 20px;
  height: 60px;
  width: 80px;
  border-radius: 20px;
  border:4px solid #e7d6d29d;
  background-color: #534440;
  cursor: pointer;
}
.coverer{
  position:absolute;
  z-index: 12;
  width:400px;
  height: 100vh;
  transform:translateX(-400px);
  background-color: #534440;
}
.coverer2{
  position:absolute;
  z-index: 11;
  width:2000px;
  height: 100vh;
  transform:translateX(-2000px);
  background-color: #53444069;
}
.face {
    position: absolute;
    line-height: 100px;
    font-size: 100px;
    text-align: center;
  }
  .naw{
    width: 400px;
    height: 600px;
  }
  .ceiling{
    width:4000px;
    height:400px;
  }
  .wide{
      width:4000px;
      height:600px;
  }
  .half{
    width: 1600px;
    height:600px;
  }
  .ceiling2{
    width:800px;
    height:1200px;
  }
  .infront{
    width:800px;
    height:600px
  }
  .naw2{
    width:1200px;
    height:600px
  }
  .boombox{
    width: 200px;
    height: 100px;
    border-radius: 60px;
    z-index: 10;
    transform: translate3d(100px, 500px, 800px);
    background: rgba(61, 59, 59, 0.986);
  }
  .bloom{
    position: absolute;
    backdrop-filter: drop-shadow(4px 4px 10px blue);
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgb(249,247,242);
    background: radial-gradient(circle, rgba(249,247,242,0) 0%, rgba(241,228,156,0.33126754119616597) 50%, rgba(238,206,59,0.5665616588432247) 100%);
  }
  .light{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    z-index: 10;
    transform: translate3d(190px, 10px, -180px);
    background: rgb(249,247,242);
    background: radial-gradient(circle, rgba(249,247,242,0.9) 0%, rgba(245,222,103,0.5) 30%, rgba(238,206,59,0) 60%);
  }
  .perspective-box-closer {
    height: 300px;
    transform-style: preserve-3d;
    transform: perspective(var(--perspect)) translate3d(var(--positionX),0,var(--positionZ));
    transform-origin: var(--origin);
  }
  
  .top {
    background-color: lightgrey;
    opacity: 1;
    transform: rotateX(90deg) translate3d(-2000px, 0, 200px);
  }
  .top2 {
    background-color: lightgrey;
    opacity: 1;
    transform: rotateX(90deg) translate3d(-400px, 800px,600px);
  }
  .front2{
    background-color: white;
    opacity: 0.77;
    transform: translate3d(-400px,0, 1400px);
  }
  .left {
    background-color: lightyellow;
    opacity: 0.4;
    transform: rotateY(-90deg) translate3d(0,0, 2200px);
  }
  .left2 {
    background-color: lightyellow;
    opacity: 1;
    transform: rotateY(-90deg) translate3d(800px,0,1000px);
  }
  .front-l {
    background-color: white;
    opacity: 0.7;
    transform: translate3d(-2000px,0, 200px);
  }
  .front-r {
    background-color: white;
    opacity: 0.7;
    transform: translate3d(400px,0, 200px);
  }
  .right {
    background-color: lightyellow;
    opacity: 0.5;
    transform: rotateY(90deg) translate3d(0,0, 1800px);
  }
  .right2 {
    background-color: lightyellow;
    opacity: 1;
    transform: rotateY(90deg) translate3d(-800px,0,-200px);
  }
  .bottom {
    background-color: lightgrey;
    opacity: 1;
    transform: rotateX(-90deg) translate3d(-2000px, 0, 400px);
  }
  .bottom2 {
    background-color: lightgrey;
    opacity: 1;
    transform: rotateX(-90deg) translate3d(-400px, -800px, 00px);
  }
  .back {
    background-color:limegreen;
    opacity: 1;
    transform: translate3d(-2000px,0, -200px);
  }
  .character{
    width: 200px;
    height: 400px;
    background-size: 200px;
    background-image: url(../images/doll1.png);
    transform: translate3d(var(--cpositionX),200px,var(--cpositionZ));
  }
  .air{
    width: 400px;
    height: 110px;
    background-size: 400px;
    background-image: url(../images/air.png);
    transform: rotateY(-90deg) translate3d(400px,-250px,580px);
  }
  .chair{
    width: 100px;
    height: 180px;
    background-size: 100px;
    background-image: url(../images/chair.png);
    transform: translate3d(120px,200px,500px);
  }
  .desk{
    width: 400px;
    height: 250px;
    background-size: 400px;
    background-image: url(../images/desk.png);
    transform: rotateY(90deg) translate3d(-400px,100px,120px);
  }
  .door{
    width: 160px;
    height:360px;
    background-size: 160px;
    background-image: url(../images/door.png);
    transform: rotateY(-90deg) translate3d(400px,200px,466px);
  }
  .sofa{
    width: 600px;
    height: 200px;
    background-size: 600px;
    background-image: url(../images/sofa.png);
    transform: translate3d(800px,400px,-180px);
  }
  .window{
    width: 400px;
    height: 320px;
    background-size: 400px;
    background-image: url(../images/window.png);
    transform: translate3d(200px,50px,-190px);
  }
  .outside{
    width: 260px;
    height: 260px;
    background-color:skyblue;
    transform: translate3d(270px,80px,-195px);
  }